<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
    <script src="/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <title>ChatGPT|详情</title>
</head>
<body>
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/list_{{subtitle}}">列表</a></li>
            <li class="breadcrumb-item active">详情</li>
        </ol>
        <br>
        <a href="/list_{{subtitle}}">返回111</a>
        <br>
        <div class="attr">
            <p>gpt_version: {{data.gpt_version}}, bid: {{data.bid}},browser_port: {{data.browser_port}}, created_at:{{data.created_at|safe}} </p>
        </div>
        <div class="content">
            <pre>{{data.ask}}</pre>
        </div>
        <div class="content">
            <p>
                std_status: <b> {{data.std_status}}</b>,<br>
                std_tags: {{data.std_tags}},<br>
                std_version: {{data.std_version}}
            </p>
        </div>


    </div>
<div class="content">
    <div class="row">
        <div class="col-6">
            {{data.answer|safe}}
        </div>
        <div class="col-6">
            {{data.std_content|safe}}
        </div>
    </div>

</div>
</body>
</html>