DEBUG=0

PRODUCTS_MONGODB_HOST=192.168.0.123
PRODUCTS_MONGODB_PORT=27017
PRODUCTS_MONGODB_DB=smolecule
PRODUCTS_MONGODB_USER=
PRODUCTS_MONGODB_PASSWORD=

PRODUCT_TABLE=product_ast_bench_outline_detail_full
PRODUCT_RESULT_TABLE=product_google_index_status
PRODUCT_FAILED_RESULT_TABLE=product_google_index_status_failed

fixed_running_loop_ts=20

project_name=google_index_status


proxy_server=127.0.0.1
proxy_host=192.168.0.113

chrome_executable_path=C:\Program Files\Google\Chrome\Application\chrome.exe
browser_data_path=F:/dev/browser_data

max_x_nums=2
window_height=1000
window_width=1200
window_rate=0.7

CLIENT_MIN_BID=0
CLIENT_MAX_BID=99999999

BROWSER_STATUS_9600=actived
BROWSER_STATUS_9601=actived
BROWSER_STATUS_9602=actived
BROWSER_STATUS_9603=actived
BROWSER_STATUS_9604=actived
BROWSER_STATUS_9605=actived
BROWSER_STATUS_9606=actived
BROWSER_STATUS_9607=actived
BROWSER_STATUS_9608=actived
BROWSER_STATUS_9609=actived
BROWSER_STATUS_9610=actived
BROWSER_STATUS_9611=actived
BROWSER_STATUS_9612=actived
BROWSER_STATUS_9613=actived
BROWSER_STATUS_9614=actived
BROWSER_STATUS_9615=actived
BROWSER_STATUS_9616=actived
BROWSER_STATUS_9617=actived
BROWSER_STATUS_9618=actived
BROWSER_STATUS_9619=actived
BROWSER_STATUS_9620=actived
BROWSER_STATUS_9621=actived
BROWSER_STATUS_9622=actived
BROWSER_STATUS_9623=actived
BROWSER_STATUS_9624=actived
BROWSER_STATUS_9625=actived
BROWSER_STATUS_9626=actived
BROWSER_STATUS_9627=actived
BROWSER_STATUS_9628=actived
BROWSER_STATUS_9629=actived